<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsheng.ShopCasher.mybatis.SettlementMapper">

	<resultMap type="com.wangsheng.ShopCasher.settlement.info.SettlementCatogeryCount" id="settlementCatogeryCountMap">
		<id column="id" property="catogeryId" />
		<result column="name" property="catogeryName" />
		<result column="num" property="number" />
	</resultMap>

	<select id="settlementByCatogery" parameterType="java.lang.String" resultMap="settlementCatogeryCountMap">
		SELECT
		D.id,D.name,COUNT(A.number) as num
		FROM t_order_item A LEFT JOIN t_order B ON
		A.orderId = B.orderId
		LEFT JOIN t_good C ON A.goodId = C.id
		LEFT JOIN `t_catogery` D ON
		C.`category` = D.id
		WHERE B.shopId = #{shopId}
		AND B.settlementTime &gt;
		#{startTime} AND B.settlementTime &lt; #{endTime}
		GROUP BY D.id
	</select>
</mapper>