<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsheng.ShopCasher.mybatis.OrderMapper">
	<sql id="queryOrderSql">
		A.`shopId` = #{req.shopId}
		<if test="req.startTime != null and req.startTime != ''">
			AND A.`settlementTime` &gt;= #{req.startTime}
		</if>
		<if test="req.endTime != null and req.endTime != ''">
			AND A.`settlementTime` &lt;= #{req.endTime}
		</if>
		<if test="req.orderId != null and req.orderId != ''">
			AND A.`orderId` LIKE '%'||#{req.orderId}||'%'
		</if>
		<if test="req.payMethod != null and req.payMethod != ''">
			AND A.`payMethod` = #{req.payMethod}
		</if>
		order by settlementTime DESC
	</sql>

	<select id="queryOrder" parameterType="com.wangsheng.ShopCasher.order.info.QueryOrderReq"
		resultType="com.wangsheng.ShopCasher.order.data.Order">
		SELECT A.*
		FROM t_order A
		WHERE
		<include refid="queryOrderSql"></include>
		LIMIT #{req.page.pageNo},#{req.page.pageSize}
	</select>

	<select id="queryOrderCount" parameterType="com.wangsheng.ShopCasher.order.info.QueryOrderReq"
		resultType="java.lang.Integer">
		SELECT count(*)
		FROM t_order A
		WHERE
		<include refid="queryOrderSql"></include>
	</select>

	
	<resultMap type="com.wangsheng.ShopCasher.order.info.OrderItemInfo" id="getOrderItemsMap">
		<id column="itemId" property="itemId"  />
		<result column="name" property="goodName" />
		<result column="code" property="goodCode" />
		<result column="num" property="number" />
		<result column="totalPrice" property="totalPrice" />
		<result column="number" property="number" />
	</resultMap>

	<select id="getOrderItems" parameterType="java.lang.String"
		resultMap="getOrderItemsMap">
		SELECT A.*,B.*
		FROM t_order_item A LEFT JOIN `t_good` B ON A.goodId = B.id
		WHERE A.orderId = #{orderId}
	</select>
</mapper>